.centered-container {
  background-color: #fffbf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.heading-primary {
  font-size: 2.5rem;
  color: #151B54;
}
.text-secondary {
  font-size: 1.2rem;
  color: #79BAEC;
}

.logo {
  width: 350px;
  height: auto;
  margin-bottom: 0px;
  pointer-events: none;
}

button {
  background-color: #2885cc;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #1a6f9c;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #95B9C7;
  cursor: pointer;
}

.tabs button.active {
  background-color: #2885cc;
  color: white;
}

.home-page .navigation-options{
  margin-top: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #79BAEC;
}

input[type="file"] {
  margin: 10px 0;
}
